.page-header {
  position: relative;
  background: url("/img/promo_mobile.jpg");
  background-repeat: no-repeat;
  background-color: $color-black;
  height: 800px;
  object-fit: cover;
  padding: 20px 15px;
}
