$mobile-width-only: 1439px;
$desktop-width: 1440px;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-100: #2c2c2c;
$color-grey-200: #656363;
$color-grey-300: #e5e5e5;
$color-orange-100: #d67e35;
$color-orange-150: #ff7400;
$color-orange-200: #bc9060;
$color-orange-250: #d67e34;
$color-orange-300: #ffe8d0;
$color-red: #ff0000;
$main-regular-font: "Open Sans", "Arial", serif;
$added-regular-font: "Tinos", serif;
